<div fxLayout="column" fxLayoutAlign="space-around center" >
    <h1> 
        <span>{{ firstName }}</span>
        <span id="last-name">{{ lastName }}</span>
    </h1>

        <mat-list fxLayout="row" fxLayoutAlign="center center">
            <mat-list-item>{{ phoneNumber }}</mat-list-item>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-list-item>{{ email }}</mat-list-item>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-list-item><a>{{ linkedin }}</a></mat-list-item>

        </mat-list>
</div>