 <mat-card fxLayout="row wrap" fxFlex="60">
    <mat-form-field appearance="outline" fxFlex="100">
        <mat-icon matPrefix>school</mat-icon>
        <mat-label>Institution</mat-label>
        <input matInput placeholder="Enter Institution Name" required>
    </mat-form-field>

    <div fxFlex="100" fxLayoutAlign="space-between center">
        <mat-form-field appearance="outline" fxFlex="45">
            <mat-icon matPrefix>book</mat-icon>
            <mat-label>Degree Type</mat-label>
            <mat-select>
                <mat-option *ngFor="let degree of degreeTypes">{{ degree }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="45">
            <mat-icon matPrefix>topic</mat-icon>
            <mat-label>Field of Study</mat-label>
            <mat-select>
                <mat-option *ngFor="let field of (fieldsOfStudy |async )?.majors" [value]="field.name">{{ field.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxFlex="100" fxLayoutAlign="space-between center" >
        <mat-form-field appearance="outline" fxFlex="45">
            <mat-icon matPrefix>event</mat-icon>
            <mat-label>Year Started</mat-label>
            <mat-select [(ngModel)]="yearStart">
                <mat-option *ngFor="let year of yearRange" [value]="year">{{ year }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="45">
            <mat-icon matPrefix>event</mat-icon>
            <mat-label>Year Completed</mat-label>
            <mat-select [(ngModel)]="yearComplete"> 
                <mat-option value="">Present</mat-option>
                <mat-option *ngFor="let year of yearRange" [value]="year">{{ year }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button id="delete-button" mat-mini-fab color="warn">
        <mat-icon>delete</mat-icon>
    </button>
 </mat-card>   