<mat-card>
    <mat-card-content>
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <mat-form-field appearance="outline" fxFlex="45">
                    <mat-icon matPrefix>account_box</mat-icon>
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Enter First Name" required [(ngModel)]="firstName">
                </mat-form-field>
        
                <mat-form-field appearance="outline" fxFlex="45">
                    <mat-icon matPrefix>account_box</mat-icon>
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Enter Last Name" required [(ngModel)]="lastName">
                </mat-form-field>
            </div>
        
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <mat-form-field appearance="outline" fxFlex="30">
                    <mat-icon matPrefix>phone</mat-icon>
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Enter Phone Number" type="text" required mask="(000) 000-0000" [(ngModel)]="phoneNumber">
                </mat-form-field>
        
                <mat-form-field appearance="outline" fxFlex="30">
                    <mat-icon matPrefix>email</mat-icon>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter Email" type="email" required [(ngModel)]="email">
                </mat-form-field>
        
                <mat-form-field appearance="outline" fxFlex="30">
                    <mat-icon matPrefix>link</mat-icon>
                    <mat-label>LinkedIn</mat-label>
                    <input matInput placeholder="Enter LinkedIn" type="url" [(ngModel)]="linkedInURL">
                </mat-form-field>
            </div>

            <mat-divider></mat-divider>

            <div id="summary-of-qual" fxLayout="row">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Summary of Qualifications</mat-label>
                    <textarea matInput placeholder="Write your Summary of Qualifications here. Recommended length is 3 - 5 sentences"></textarea>
                </mat-form-field>
                
            </div>
        </mat-card>
    </mat-card-content>
</mat-card>